@import "tailwindcss";

body{
  margin: 0;
  padding: 0;
}
 
/* Slick list ke andar shadow cut hone ka fix */
.slick-slider .slick-list {
  overflow: visible !important;
}

/* Scrollbar avoid karne ke liye */
.slick-slider .slick-list {
  overflow-x: hidden !important;
  overflow-y: visible !important;
}


/* extra spacing remove karne ke liye */
/* force slick carousel to remove default gaps and align center */
.slick-list {
  margin: 0 auto !important;   /* center align karega */
  padding: 0 !important;
}

.slick-track {
  display: flex !important;    /* track ko flex bana do */
  align-items: center !important;
}

.slick-slide {
  height: auto !important;     /* card height maintain */
  margin: 0 !important;        /* extra gap remove */
  padding: 0 !important;
}

/* slick dots size + color */
.slick-dots li button:before {
  font-size: 14px !important;  /* size bada */
  color: rgb(203, 140, 23) !important;    /* color orange */
}

/* active dot alag color */
.slick-dots li.slick-active button:before {
  color: #c45a0f !important; /* Tailwind ka orange-500 */
}

/* index.css */
.overflow-x-hidden-y-visible {
  overflow-x: hidden;
  overflow-y: visible;
}

